body {
    font-family: 'Roboto', sans-serif;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.nav-item {
    padding-left : 10px;
    padding-right : 10px
}
.nav-link {
    font-size : 18px
}
.navbar-brand {
    font-size: 22px;
}
.toggle-top {
	border-top : 2px solid #0a0a4d;
	width : 25px;
	height : 0;
	top : 0;
	position : absolute;
}
.toggle-mid {
	border-top : 2px solid #0a0a4d;
	width : 25px;
	height : 0;
	top : 45%;
	transform-origin : center center;
	position : absolute;
}
.toggle-bottom {
	border-top : 2px solid #0a0a4d;
	width : 25px;
	height : 0;
	position: absolute;
	bottom : 0;
}
.toggle-cover {
	position : relative;
	height : 20px;
	width : 25px;
}
.navbar-light .navbar-toggler{
	border : none
}